$red_color: #EF394E;
$white_color: #fff;
$dark_color: #555;
$text_color: #777;
// Variables

@mixin customize_owlTheme($dot_color: #3cdbcb) {
    .owl-nav {
        margin-top: 0;

        [class*=owl-] {
            margin: 0;
            position: absolute;
            top: 45%;
            color: $white_color;
            font-size: 2em;

            &:hover {
                background-color: transparent;
            }
        }

        .owl-prev {
            right: 1.5rem;
            transition: 0.5s;

            &:hover {
                transform: translateX(5px);
            }
        }

        .owl-next {
            left: 1.5rem;
            transition: 0.5s;

            &:hover {
                transform: translateX(-5px);
            }
        }
    }

    .owl-dots {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 1rem;
        margin: auto;

        .owl-dot {
            &.active span {
                background-color: $dot_color;
            }
        }
    }
}

// Functions

@import "bootstrap";
@import "fontawesome";
@import "owl";
@import "reset";

.header {
    position: relative;
    z-index: 2;
    background-color: $white_color;
    padding-top: 0.75rem;

    &_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_right {
            display: flex;
            align-items: center;
        }

        &_logo {
            display: block;
            margin-left: 1rem;
        }

        &_form {
            position: relative;
            background-color: #ddd;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            padding-right: 3rem;
            color: #666;
            min-width: 600px;

            i {
                position: absolute;
                right: 1rem;
                top: 0;
                bottom: 5px;
                margin: auto;
                font-size: 1.125em;
                display: flex;
                align-items: center;
            }

            .form-control {
                background-color: transparent;
                border: 0;
                padding: 0;

                &:focus {
                    box-shadow: unset;
                }
            }
        }

        &_yalda {
            margin-right: 1rem;

            img {
                display: block;
                max-width: 140px;
            }

            span {
                font-weight: 700;
                font-size: 80%;
                color: #110c57;
            }
        }

        &_buttons {
            display: flex;
            align-items: center;

            .btn {
                display: flex;
                align-items: center;
                border: 1px solid #ddd;
                color: $dark_color;

                i {
                    font-size: 1.25em;
                    margin-left: 0.5rem;
                }
            }

            &_cart {
                color: $dark_color;
                margin-right: 1rem;
                border-right: 1px solid #ddd;
                padding: 0.5rem 0;
                padding-right: 1rem;
                font-size: 1.25em;
            }
        }
    }

    &_menu {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &_res {
            display: none;
        }

        &_products {
            margin-left: 1rem;
            border-left: 1px solid #ccc;
            padding-left: 1.25rem;
            color: $dark_color;
            cursor: pointer;

            .mega-menu {
                .openMenu {
                    display: block;
                    padding: 1rem 0;
                    color: $dark_color;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        background-color: $red_color;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin: auto;
                        transition: 0.4s;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }

                &>ul {
                    display: none;
                }

                &:hover {
                    &>ul {
                        display: block;
                    }
                }
            }

            .right-items {
                position: absolute;
                right: 0;
                left: 0;
                top: 100%;
                margin: auto;
                background-color: $white_color;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                box-shadow: 0 0 10px rgba($color: $dark_color, $alpha: 0.2);
                transition: 0.3s;
                display: none;

                li {
                    &.parent {
                        width: 240px;
                        border-left: 1px solid #ddd;
                    }

                    a {
                        display: block;
                        padding: 1rem;
                        border-top: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        color: $text_color;
                        transition: 0.3s;

                        i {
                            margin-left: 0.25rem;
                            font-size: 1.25em;
                        }

                        &:hover {
                            color: $red_color;
                            background-color: #eee;
                            border-color: #ddd;
                        }
                    }

                    &>ul {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: calc(100% - 240px);
                        height: 100%;
                        display: none;
                        flex-wrap: wrap;

                        &>li {
                            flex: 0 0 auto;
                            width: 25%;
                            padding: 0 1rem;

                            a {
                                padding: 0;
                                font-size: 85%;
                                border: 0;
                                display: block;
                                margin: 1.5rem 0;

                                &.title {
                                    font-weight: bold;
                                    color: $dark_color;
                                    border-right: 2px solid $red_color;
                                    padding-right: 0.5rem;
                                }

                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    &:hover {
                        &>ul {
                            display: flex;
                        }
                    }
                }
            }

            .openMenu:hover {
                &+.header_menu_mega {
                    display: block;
                }
            }
        }

        &_items {
            flex-grow: 1;

            ul {
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 1.5rem;

                    a {
                        display: block;
                        padding: 1rem 0;
                        color: #666;
                    }
                }
            }
        }

        &_cartRes {
            display: none;
        }

        &_location {
            a {
                color: #666;

                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

.menuFixed {
    position: fixed;
    right: -290px;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: $white_color;
    z-index: 4;
    transition: 0.4s;
    overflow: auto;
    padding-bottom: 1.5rem;

    &_logo {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ddd;
        margin: 0 1rem;
        margin-bottom: 1rem;
    }

    &_body {
        line-height: 1.75;

        hr {
            margin: 1rem;
        }

        ul {
            li {
                margin: 1rem 0;
                
                a {
                    display: block;
                    color: $text_color;
                    padding: 0 1rem;

                    &:hover {
                        color: $red_color;
                    }

                    i {
                        font-size: 1.25em;
                        margin-left: 0.25rem;
                    }
                }

                ul {
                    display: none;
                    background-color: #eee;
                    padding: 0.5rem;

                    li {
                        margin: 0.75rem 0;

                        a {
                            color: #4a5f73;
                        }
                    }
                }

                &.has-children {
                    position: relative;

                    &::before {
                        content: "\f107";
                        font-family: "Font Awesome 5 Pro";
                        font-weight: 400;
                        position: absolute;
                        left: 1rem;
                        top: 0;
                        color: $text_color;
                        transition: 0.2s;
                    }

                    &:hover {
                        &::before {
                            transform: rotate(180deg);
                        }
                    }
                }

                &:hover {
                    & > ul {
                        display: block;
                    }
                }
            }
        }
    }

    &.active {
        right: 0;
    }
}

.bodyOverlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.5);
    z-index: 3;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.shared {
    &_widget {
        background-color: $white_color;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba($color: $dark_color, $alpha: 0.1);
        height: 100%;

        &_header {
            display: flex;
            padding: 1rem 2rem;
            padding-bottom: 0.5rem;

            &_title {
                border-bottom: 1px solid $red_color;
                padding-bottom: 0.5rem;
                padding-left: 1.5rem;

                .title {
                    font-size: 1.125em;
                    font-weight: bold;
                    color: $dark_color;
                    margin-bottom: 0.25rem;
                }

                .desc {
                    color: $text_color;
                    font-weight: 400;
                    font-size: 0.8em;
                }
            }

            &_border {
                margin-right: 1rem;
                flex-grow: 1;
                border-bottom: 1px solid #ddd;
            }
        }

        &_body {
            padding: 1rem 2rem;
            padding-bottom: 1.5rem;

            .title_up {
                color: $text_color;
                text-align: center;
                margin-bottom: 1rem;
            }
        }

        &.blueBorder {
            border: 1px solid #3cdbcb;
        }
    }
}

main {
    position: relative;
    z-index: 1;

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 2;
        visibility: hidden;
        opacity: 0;

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    .home {
        &_intro {
            &_slider {
                img {
                    border-radius: 1rem;
                }
            }

            .owl-theme {
                @include customize_owlTheme();
            }

            &_banners {
                a {
                    display: block;
                    margin-bottom: 0.75rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    border-radius: 1rem;
                }
            }
        }

        &_special {
            padding: 2rem 0;

            &.greenBg {
                background-color: #6CB927;
            }

            &.redBg {
                background-color: $red_color;
            }

            .btn-bordered {
                border-color: $white_color;
                color: $white_color;
                display: flex;
                align-items: center;
                width: fit-content;
                margin-top: 2rem;

                i {
                    margin-right: 0.75rem;
                    margin-left: 0.35rem;
                }
            }

            .owl-theme {
                .owl-nav {
                    margin-top: 0;

                    [class*=owl-] {
                        margin: 0;
                        position: absolute;
                        top: 35%;
                        padding: 1.5rem 1rem !important;
                        background-color: $white_color;
                        font-size: 2em;
                        color: $dark_color;
                        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
                        border-radius: 0;

                    }

                    .owl-prev {
                        right: 1px;
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                    }

                    .owl-next {
                        left: 1px;
                        border-top-right-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;
                    }
                }
            }
        }

        &_banners {
            img {
                display: block;
                width: 100%;
                border-radius: 1rem;
            }
        }

        &_products {
            &_item {
                background-color: $white_color;
                padding: 1rem;
                overflow: hidden;
                border-radius: 1rem;
                transition: 0.3s;

                &_image {
                    padding: 0.5rem;

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }

                &_content {
                    .title {
                        font-size: 0.8em;
                        font-weight: 400;
                        color: $text_color;
                    }

                    .price {
                        color: $dark_color;
                        text-align: left;
                        margin-top: 1rem;

                        .amount {
                            font-size: 1.25em;
                            font-weight: bold;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 0 10px rgba($color: $dark_color, $alpha: 0.2);
                }
            }

            &_lahzeii_box {
                .slide-progress {
                    width: 0;
                    max-width: 100%;
                    height: 2px;
                    background: $red_color;
                    background: -moz-linear-gradient(right, $white_color 0%, $red_color 100%);
                    background: -webkit-linear-gradient(right, $white_color 0%, $red_color 100%);
                    background: linear-gradient(to left, $white_color 0%, $red_color 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EF394E', GradientType=1);

                }
            }

            .owl-theme {
                .owl-nav {
                    margin-top: 0;

                    [class*=owl-] {
                        margin: 0;
                        position: absolute;
                        top: 35%;
                        padding: 1.5rem 1rem !important;
                        background-color: $white_color;
                        font-size: 2em;
                        color: $dark_color;
                        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
                        border-radius: 0;

                    }

                    .owl-prev {
                        right: -2rem;
                        border-top-left-radius: 0.5rem;
                        border-bottom-left-radius: 0.5rem;
                    }

                    .owl-next {
                        left: -2rem;
                        border-top-right-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;
                    }
                }
            }
        }
    }

    .product {
        &_item {
            background-color: $white_color;
            display: block;
            border-radius: 0.75rem;
            overflow: hidden;
            color: $dark_color;

            &_image {
                padding: 1rem;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            &_content {
                position: relative;
                padding: 0.5rem 1rem 1.25rem 1rem;

                .title {
                    font-weight: 400;
                    font-size: 1em;
                    height: 3rem;
                    margin-bottom: 1rem;
                }

                &_price {
                    text-align: left;
                    position: relative;

                    .d-flex {
                        justify-content: flex-end;
                    }

                    del {
                        color: $text_color;
                    }

                    .takhfif {
                        background-color: $red_color;
                        color: $white_color;
                        border-radius: 2rem;
                        font-weight: bold;
                        margin-right: 0.5rem;
                        padding: 0.3rem 0.5rem;
                    }

                    p {
                        color: #444;
                        margin-top: 0.35rem;

                        .amount {
                            font-size: 1.4em;
                            font-weight: bold;
                            margin-left: 0.15rem;
                        }
                    }
                }

                &_progress {
                    width: calc(100% - 2rem);
                    height: 4px;
                    border-radius: 1rem;
                    background-color: #ccc;
                    overflow: hidden;
                    direction: ltr;
                    position: absolute;
                    bottom: 3.35rem;
                    right: 0;
                    left: 0;
                    margin: auto;

                    span {
                        display: block;
                        background-color: $red_color;
                        border-radius: 1rem;
                        height: 4px;
                    }
                }

                &_countdown {
                    padding-top: 2rem;
                    display: flex;
                    direction: ltr;

                    li {
                        color: $text_color;

                        &:first-child {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .header {
        &_menu {
            &_items ul li {
                &.diffrent {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
    }

    .header {
        &_nav {
            &_form {
                min-width: 360px;
            }
        }

        &_menu {
            &_products {
                margin-left: 0.75rem;
                padding-left: 0.75rem;
            }

            &_items {
                ul li {
                    margin-left: 1rem;
                }
            }

            &_location {
                a {
                    font-size: 85%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &_menu {
            justify-content: space-between;
            padding-bottom: 0.5rem;
            
            &_items,
            &_products {
                display: none;
            }

            &_res {
                display: inline-block;
                width: 2.75rem;
                height: 2.5rem;
                background-color: #eee;
                text-align: center;
                font-size: 1.5em;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    background-color: $red_color;
                    color: $white_color;
                }
            }
        }

        &_nav {
            &_yalda {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &_nav {
            flex-wrap: wrap;

            &_right {
                width: 100%;
                justify-content: space-between;
            }

            &_form {
                min-width: 280px;
            }

            &_buttons {
                display: none;
            }
        }

        &_menu {
            flex-wrap: wrap;
            padding-bottom: 0;

            &_cartRes {
                display: inline-block;
                width: 2.75rem;
                height: 2.5rem;
                background-color: #eee;
                text-align: center;
                font-size: 1.25em;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    background-color: $red_color;
                    color: $white_color;
                }
            }

            &_location {
                width: 100%;
                padding: 0.75rem 0;
                margin-top: 0.75rem;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .container, .container-fluid {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .row {
        margin-left: -0.5rem;
        margin-right: -0.5rem;

        & > * {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    main {
        .home {
            &_intro {
                &_banners {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        &_nav {
            &_form {
                min-width: 160px;

                .form-control {
                    font-size: 85%;
                }
            }
        }
    }

    main {
        .home {
            &_special {
                .owl-theme .owl-nav [class*=owl-] {
                    padding: 1rem 0.5rem !important;
                }
            }
        }
    }
}